.footer {
    display: flex;
    flex-direction: column;
    font-family: 'League Spartan', sans-serif;
    justify-content: center;
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 18px;
    line-height: 1.5;
    color: #c1b4cf;
}